<div id="list-example" class="list-group">
<h1>All hints</h1>

<ul id="hints">
  <% @hints.each do |hint| %>
  <li><%= link_to hint.title, hint_path(hint), class:"list-group-item list-group-item-action" %></li>
   <% end %>
  <%= link_to "leave a hint", new_hint_path, class:"list-group-item list-group-item-action" %>
</ul>
</div>

