.flash {
  background-color: red;
  margin-top: 10px 
}

html, body {
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;

}

.admin {
  color: red;
}

.main {
  width: 100%;
}

.hints {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.login-btn {
  padding-top: 20px;
}

.new-user {
  padding-top: 20px;  
}