.flash {
  background-color: red;
  margin-top: 10px 
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 80%;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.admin {
  color: red;
}


.hints {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.login-btn {
  padding-top: 20px;
}

.new-user {
  padding-top: 20px;    
}

.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control {
  width: 30%;
}

.col-sm-5 {
  margin-top: 30px;
}

.options {
  display: flex;
  flex-direction: row;
}
