<form action="/users" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input class="form-control" placeholder="Enter username" name="username">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword">Password confirmation</label>
    <input type="password" class="form-control" id="exampleInputPassword2" name="email_confirmation" placeholder="Password confirmation">
  </div>
  <button class="btn btn-secondary">confirm</button>
</form>