<form action="/users" method="post">
  <input type="text" name="username">type your username
  <input type="text" name="email">type your email
  <input type="password" name="password">type your password
  <button>confirm</button>
</form>