.container {
	margin-top: 30px;	
}

.leaveHint  {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.leaveH1 {
  text-align: center;
}

textarea {
  min-width: 100%;
  min-height: 300px;
}